/src/starfit/data/ref/*.dat
/src/starfit/data/stars/*.dat
/src/starfit/data/db/*.gz
/src/starfit/data/db/*.bz
/src/starfit/data/db/*.xz
*.mod
*.DS_Store
*.so
*.o
a.out
*~
/build/
/src/starfit.egg-info
__pycache__
